<div class="jumbotron text-center">
  <h1>Weather</h1>
  <h4>Click on links for additional details</h4>
</div>
<div class="row weather" ng-repeat="details in weatherData.list">
  <ul class="weatherDeatails">
    <li class="weatherDetailsListItem">City: <a href="" ng-click="goToDetailView(details.id)">{{details.name}}</a></li>
    <li class="weatherDetailsListItem">Lattitude: {{details.coord.lat}}</li>
    <li class="weatherDetailsListItem">Longitude: {{details.coord.lon}}</li>
    <li class="weatherDetailsListItem">Temp: {{details.main.temp}}</li>
  </ul>
</div>
